/* https://fonts.google.com/specimen/Inconsolata */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700");

body {
	font-size: 13px;
	font-family: "Inconsolata", "Consolas", "Dejavu Sans Mono", "Courier New", monospace;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.3em;
}

h1,
h2 {
	margin: 0 4px;
	font-weight: 700;
	white-space: nowrap;
}

table {
	margin: 4px 0;
}

tr:nth-child(2n+1) > td {
	padding-top: 5px;
}

td:nth-child(2) {
	width: calc(100ch * 0.9 + 7px);
}

.tooltip {
	position: absolute;
	bottom: 100%;
	visibility: hidden;
	opacity: 0;
	transition: 180ms;
	max-width: calc(100ch + 0.5px);
	background-color: #343434;
	pointer-events: none;
	text-align: center;
	color: #fff;
}

.tooltip:after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -2.5px;
	border-width: 2.5px;
	border-style: solid;
	border-color: #343434 transparent transparent;
}

.tooltip-wrap {
	position: relative;
	justify-content: center;
	display: inline-flex;
	padding: 0;
}

.fit-content {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	width: 100%;
	text-align: left;
	word-break: break-all;
}

.box {
	border-radius: 3px;
	padding: 1px 2.5px;
	font-size: 0.9em;
}

.button {
	float: right;
	margin-left: 3px;
	background-color: slategray;
	user-select: none;
	text-decoration: none;
	color: #fff;
}

.button:hover {
	background-color: #414952;
}

.button:active {
	background-color: #525e69;
}

.request-status {
	position: relative;
	color: #fff;
}

.request-type {
	float: left;
	margin-left: 3px;
	color: #444;
}

.request-idx {
	padding: 2px 3px;
	font-weight: 700;
	vertical-align: top;
	text-align: right;
	color: #1034a6;
}

.request-url {
	overflow-x: auto;
	border: 1px solid #ccc;
	border-radius: 2px;
	width: 100%;
	padding: 1px 2px;
	background-color: ghostwhite;
	white-space: nowrap;
	color: #444;
}
