body {
	font-size: 13px;
	font-family: "Consolas";
}

h1 {
	margin: 0 4px;
	font-size: 20px;
}

h2 {
	margin: 0 4px;
	font-size: 14px;
}

ol {
	display: none;
}

li {
	margin-bottom: 8px;
}

.container > * {
	margin: 2px 0;
}

.wrapper {
	position: relative;
	justify-content: center;
	display: inline-flex;
}

.tooltip {
	position: absolute;
	bottom: 100%;
	visibility: hidden;
	opacity: 0;
	transition: 0.175s;
	border-radius: 3px;
	min-width: 75px;
	max-width: 600px;
	padding: 1px 3px;
	background-color: #555;
	pointer-events: none;
	font-size: 11px;
	text-align: center;
	color: #fff;
}

.tooltip:after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -3px;
	border-width: 3px;
	border-style: solid;
	border-color: #555 transparent transparent;
}

.box {
	border-radius: 3px;
	padding: 0 3px;
	font-size: 11px;
}

.button {
	float: right;
	user-select: none;
	background-color: gray;
	text-decoration: none;
	color: #fff;
}

.button:hover {
	background-color: #101010;
}

.button:active {
	background-color: #555;
}

.request-status {
	position: relative;
	color: #fff;
}

.request-type {
	float: left;
	font-size: 12px;
	word-spacing: -1px;
}

.request-type:before {
	content: "";
	display: inline-block;
}

.request-url {
	display: inline-block;
	overflow-x: auto;
	margin-bottom: -4px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	width: 600px;
	padding: 0 2px;
	background-color: ghostwhite;
	white-space: nowrap;
}
